.login {
  display: flex;
  justify-content: center;
}

.login1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  margin-top: 5rem;
}

.ds {
  min-height: 100%;
}
