.games {
  display: flex;
  flex-wrap: wrap;
  margin: 40px;
  padding: 10px;
}

#game {
  width: 400px;
  height: 350px;
}

.inside-games {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
}

.game1 {
  display: flex;
  margin: 10px;
  padding: 10px;
  flex-direction: column;
}

#game-title {
  font-size: 22px;
}

#mods {
  padding-top: 5rem;
}
