#darkMode {
  background-size: 85px 45px;
  width: 85px;
  height: 45px;
  margin-left: 20px;
  transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
  background: transparent url("./80s.png") no-repeat center;
}

#darkMode:hover,
#darkMode:focus {
  filter: none;
  cursor: pointer;
  transition: 0.5s all;
}

#darkMode.clicked {
  transition: 0.5s all;
  background: transparent url("./80son.png") no-repeat center;
  background-size: 85px 45px;
  filter: none !important;
}

.time {
  margin-right: 7rem;
  align-items: center;
}

@media (max-width: 905px) {
  #darkMode {
    background-color: rgb(231, 231, 231);
  }
}
