.containerx {
  display: flex;
}
.posto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#img-name {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: fill;
  margin-left: 2rem;
}

#img-photo {
  width: 100%;
  max-width: 450px;
  border-radius: 14px;
  margin-top: 10px;
  max-height: 350px;
  cursor: pointer;
}

#img-photo:hover {
  transform: scale3d(1.5, 1.5, 1.5);
  transition: 0.5s all;
}

.images {
  background-color: var(--backo);
  box-shadow: var(--box);
  border-radius: 14px;
}

.del {
  display: flex;
  align-items: center;
}

#dat {
  color: rgb(0, 0, 0);
  background-color: rgb(243, 234, 95);
  border-radius: 4px;
  opacity: 0.9;
  margin-left: auto;
  padding: 4px;
}

.del p {
  margin-left: 11px;
  color: #fff;
  opacity: 0.9;
  font-size: var(--po);
}

.images {
  margin-left: 2rem;
}

.images p {
  text-align: center;
  font-size: var(--p);
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  padding: 5px;
  color: var(--texto);
}

#name {
  color: #fff;
}

.buton {
  display: flex;
  margin-top: 15px;
  font-size: 44px;
  background-color: #22a152;
  justify-content: center;
}
