@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fontu);
}

body {
  background-color: var(--background-color) !important;
  color: #fff !important;
  animation: var(--puls) !important;
}

input {
  color: #000 !important;
}

li {
  cursor: pointer;
}

li:hover,
.Navbar a:hover {
  color: rgb(243, 234, 95) !important;
  transform: scale3d(1.1, 1.1, 1.1);
  transition: 0.5s all;
}

@media (max-width: 1535px) {
  nav {
    display: flex !important;
    justify-content: flex-end !important;
    background-color: blue !important;
    padding-right: 3px;
  }
}

@media (max-width: 1225px) {
  #log {
    width: 180px;
    height: 60px;
    left: 0.2rem;
    bottom: 10px;
  }
}

@media (max-width: 1075px) {
  #log {
    display: none;
  }
}

@media (max-width: 1235px) {
  .posto {
    grid-template-columns: 1fr 1fr 1fr !important;
  }
}

@media (max-width: 822px) {
  .posto {
    grid-template-columns: 1fr 1fr 1fr !important;
  }
}

@media (max-width: 821px) {
  .posto {
    grid-template-columns: 1fr 1fr !important;
  }

  #img-photo {
    width: 100%;
    max-width: 280px !important;
    margin-right: auto;
    margin-left: auto;
    border-radius: 14px;
    margin-top: 10px;
    max-height: 350px;
    cursor: pointer;
  }

  .images {
    max-width: 280px !important;
  }
}

@media (max-width: 705px) {
  .posto {
    display: flex !important;
    flex-wrap: wrap !important;
    padding: 30px !important;
  }

  .post {
    width: 100%;
  }

  #img-photo {
    width: 100% !important;
    max-width: 100% !important;
    height: 100% !important;
  }

  #img-name {
    margin: 0px !important;
  }

  .images {
    width: 100%;
    max-width: 100% !important;
    margin: 0px !important;
  }
}

@media (max-width: 1024px) {
  .logo {
    display: flex;
    justify-content: flex-start;
    left: 0;
  }
}

@media (max-width: 870px) {
  .logo {
    display: flex;
    justify-content: flex-start;
    left: 0;
    width: 190px;
    margin: 10px;
  }

  #darkMode {
    display: none;
  }
}

@media (max-width: 781px) {
  .post {
    padding: 10px;
  }
}

.Navbar .mobile-navigation {
  display: none !important;
}

@media (max-width: 788px) {
  .Navbar .desktop {
    display: none !important;
  }
  .Navbar .mobile-navigation {
    display: flex !important;
    padding-bottom: 1.2rem;
    width: 100% !important;
  }

  .Hamburger {
    position: fixed;
    right: 15px;
    top: 17px;
    cursor: pointer;
  }

  .Navbar .burgers {
    background-color: #191919;
    height: 95px !important;
    width: 100%;
    position: fixed;
    top: -10px;
    z-index: 999;
  }

  ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 0 !important;
    top: 50px;
    position: fixed;
    right: 0;
    left: 0;
    padding: 10px;
    z-index: 99999 !important;
    width: 100% !important;
    opacity: 1 !important;
    background-color: #191919;
  }

  li {
    margin: 10px auto !important;
    opacity: 1;
  }
}

#mob {
  position: fixed;
  z-index: 999999999;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 5px;
}

@media (max-width: 339px) {
  #mob {
    width: 150px;
    height: 70px;
    margin: 10px;
  }
}

@media (max-width: 225px) {
  #mob {
    display: none;
  }
}
