@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Press+Start+2P&family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,600&display=swap");

:root {
  --s80: #ffffff;
  --dark: #191919;
}

body.s80 {
  background: #000096;
  background: radial-gradient(circle, #000096 0%, #000096 100%);
  --backo: #191919;
  --box: 0 0 10px 1px hsl(140, 68%, 47%);
  --fontu: "Press Start 2P", cursive;
  --size: 16px;
  --p: 14px;
  --po: 13px;
  --texto: #fff;
  --boxi: 0 0 10px 5px red;
  --puls: pulse 0.7s infinite cubic-bezier(0.22, 0.61, 0.36, 1),
    fade 5.4s 1 ease-out forwards;
}

body.dark {
  --background-color: var(--dark);
  --backo: rgb(243, 234, 95);
  --size: 24px;
  --fontu: "Roboto Mono", monospace;
  --p: 17px;
  --po: 17px;
  --texto: #000;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 5px hsl(140, 68%, 47%), 0 0 0 1px hsl(140, 68%, 47%);
  }
  100% {
    box-shadow: 0 0 0 5px rgba(325, 175, 85, 0), 0 0 0 10px rgba(25, 175, 85, 0);
  }
}
