@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Press+Start+2P&family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,600&display=swap");

:root {
  --s80: #ffffff;
  --dark: #191919;
}

body.s80 {
  --background-color: var(--dark);
  --backo: rgb(243, 234, 95);
  --size: 24px;
  --fontu: "Roboto Mono", monospace;
  --p: 17px;
  --po: 17px;
  --texto: #000;
}

body.dark {
  background: rgb(36, 62, 115);
  background: linear-gradient(
    90deg,
    rgba(36, 62, 115, 1) 0%,
    rgba(214, 31, 139, 1) 35%,
    rgba(28, 219, 185, 1) 100%
  );
  --backo: #191919;
  --fontu: "Press Start 2P", cursive;
  --size: 16px;
  --p: 14px;
  --po: 13px;
  --texto: #fff;
}
