#music-title {
  font-size: 24px;
  padding-left: 10px;
}

.music-container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.music1 {
  display: flex;
  margin: 10px;
  padding: 10px;
  flex-direction: row;
}
.music-btn {
  color: #000;
  background-color: #e6dc57;
  margin: 10px;
  padding: 5px 20px;
  border-radius: 4px;
}

.musics {
  margin-left: 65px;
  margin-right: auto;
}

#music-thumb {
  width: 150px;
  height: 135px;
}

.flexo {
  display: flex;
}

#music-img {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin: 10px;
  cursor: pointer;
}

#music-name {
  margin-top: 10px;
}

#share {
  margin: 10px;
}

#mods .modal-content {
  background-color: #191919;
  border: none;
}
