#custom {
  background-color: #191919 !important;
  border: none !important;
}

.custom-con {
  border: none !important;
}

.fr {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column;
  margin-top: 10rem !important;
  background-color: #191919 !important;
}
